@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

#logo {
  width: 50px;
}

body {
  background-color: white;
}

#msg {
  color: #0d383d;
  font-family: 'Montserrat', sans-serif;
}

#cont {
  display: block;
  margin: auto;
}